{% extends 'base.html' %}
{% block content %}
    
    <h1 align="center">Welcome {{request.COOKIES.user}}!!!</h1>
    <h1 align="center">Items for sale</h1>
    <div class="well" align="center">
        <a href="{% url 'getPopularUsers'%}">Popular Sellers</a>
<!--         <a href="{% url 'getItemCategory' %}?category=Bedroom">Bedroom Category</a>         -->
		<div class="table-responsive" align="center">
		<table class="table" align="center">
            {% for item in items %}
                <tr>
                    <td><a href="/item_detail/{{item.id}}"><h3>{{item.title}}</h3></a></td>
                    <td><h3>{{item.price}}</h3></td>
                </tr>
                <tr>
                    <td><p>{{item.description}}</p></td>
                </tr>
            {% endfor %}
		</table>
		</div>
	</div>

{% endblock %}