{% extends 'base.html' %}
{% block content %}

<h1 align="center">Login</h1>
<br>
{% if message %}
<div class="alert alert-danger">
  <strong>{{ message }}</strong>
</div>
{% endif %}
{% if logged_in %}
    <p>You are already logged in!</p>
    Click <a href="/logout/">here</a> to log out.
{% else %}
    <div align="center" style="width:60%; margin-left:20%">
    <form method="POST"> {% csrf_token %}
        <div class="row">
            <label for="id_username">{{ login_form.username.label}}</label>
            {{ login_form.username }}
        </div>
        <div class="row">
            <label for="id_password">{{ login_form.password.label}}</label>
            {{ login_form.password }}
        </div>
        <br>
        <button type="submit">Login</button>

    </form>
    Don't have an account? <a href="/register/">Sign up</a>
    </div>
{% endif %}

{% endblock %}
